  <% if user_signed_in? %>
  <a href="#" class='dropdown-toggle' data-toggle="dropdown"><i class="icon-user"></i> <%= current_user.email %></a>
  <ul class="dropdown-menu pull-right">
    <li>
    <%= link_to "修改密码", edit_user_password_path(current_user)%> 
    </li>
    <li>
    <%= link_to "注销", destroy_user_session_path, :method => :delete %> 
    </li>
  </ul>
  <%else%>
    <%= link_to "登录", new_user_session_path %> |
    <%= link_to "注册", new_user_registration_path %>
  <% end %>